<towify-table
  [dataSource]="tableDataSource"
  [columnInfos]="columnInfos"
  [stickyFirstColumn]="true"
  [rowHeight]="rowHeight"
>
  <div tableHeader class="table-header" *towifyHeaderDef="let column">
    <span>{{ column.displayName }}</span>
  </div>
  <div class="table-row" tableRow *towifyRowDef="let row; let rowIndex = index">
    <div class="table-cell" *towifyCellDef="let column; let columnIndex = index">
      <div *ngIf="column.type === 'text'" style="text-align: center; width: 100%; height: 100%">{{
        row[column.displayName]
      }}</div>
      <img
        style="width: 35px; height: 35px"
        [src]="row[column.id]"
        alt=""
        *ngIf="column.type === 'image'"
      />
    </div>
  </div>
</towify-table>
