<towify-table [dataSource]="dataSource"
              [columnInfos]="columnInfos"
              [stickyFirstColumn]="true"
              [tableHeight]="600"
              [tableWidth]="700"
              [rowHeight]="rowHeight"
>
  <div *towifyRowDef="let row; let rowIndex = index">
    <div *towifyCellDef="let column; let columnIndex = index">
      <div
        *ngIf="column.type === 'text'"
        style="text-align: center; width: 100%; height: 100%;"
      >{{ row[column.id] }} ({{ rowIndex }}, {{ columnIndex }})</div>
      <img style="width: 35px; height: 35px" [src]="row[column.id]" alt=""
           *ngIf="column.type === 'image'"
      >
    </div>
  </div>
</towify-table>
